p{
    color: cadetblue;
    background-color: white;
    font-weight: bold;
    font-stretch: extra-expanded;
    text-align: center
}

img{
    width: 100% 
}
.ltgray{
    background: gr
}